
@keyframes visibleHeading{
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        
    }
    0%{
        transform: translateX(+7rem);
        opacity: 0;
    }
}
html,
body {
    height: 100vh;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
}



.navTest{
    background-color: rgba(255, 255, 255, 0.6);
}
.navTest a{
    color: black;
}
#intro-main{
    height: 100vh;
    background: url(./img/bg-header.jpg)no-repeat left center fixed ;
    z-index: -2;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.navbar-nav a{
    transition: linear .2s all;
}
.navbar-nav a:hover{
 color: black;
 font-size: 1.2rem;
 font-weight: bold;
}
.heading-text{
    font-family: 'Bonheur Royale', cursive;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: black 2px 2px;
    font-size: 4rem;
    animation: visibleHeading 2s;
    display: flex;
    flex-direction: column;
    letter-spacing: .2rem; 
}
.exitBox{
    width: 100px;
    height: 100px;
    background-image: url(./img/gallery-1-1.jpg);
   position: absolute;
}
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    
}
.heading-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16rem;
}
.heading-btn{
    padding: 0 3rem;
    animation: visibleHeading 2s;
}
.heading-btn:hover .nav-link{
    color: black;
    text-shadow: 0 0;
    font-weight: bold;
}
.heading-btn a{
    color: white;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-shadow: 1px 1px black;
    opacity: 1;
    transition: ease-in-out .2s;
}
.heading-btn a:hover{
    color: black;
}






#intro-list{
    
}
.full-bg-priceList{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
   height: 100vh;
}
.first{
    width: 100vw;
    height: 100vh;
    background: url(./img/bg-list-box-5-midle.jpg)no-repeat left ;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(60% 0, 45% 50%, 60% 100%, 0 100%, 0% 50%, 0 0);
}
.firstFull{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background: url(./img/bg-list-box-5.jpg)no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.firstMin{
    width: 100vw;
    height: 100vh;
    background: url(./img/bg-list-box-5.jpg)no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(0% 0, 0% 50%, 0% 100%, 0 100%, 0% 50%, 0 0);
}
.secound{
    width: 100vw;
    height: 100vh;
    background: url(./img/bg-list-box-2.jpg)no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(60% 0, 45% 50%, 60% 100%, 100% 100%, 100% 50%, 100% 0); 
    
}
.secoundFull{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background: url(./img/bg-list-box-2.jpg)no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(0% 0, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0);
}
.secoundMin{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url(./img/bg-list-box-2.jpg)no-repeat left center;
    top: 0;
    left: 0;
    transition: ease-in 1s;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 50%, 100% 0);
}
.cyrcleFirst{
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 50px;
    height: 50px;
    clip-path: polygon(100% 100%, 100% 0, 50% 50%);
    background-color: ivory;
}
.cyrcleFirst:hover{
    cursor: pointer;
}
.cyrcleSecound{
    display: none;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 50%, 0 0, 0 100%);
    background-color: ivory;
}
.cyrcleSecound:hover{
    cursor: pointer;
}
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}


.box-list-first{
     display: none;
     flex-direction: column;
     list-style: none;
     width: 60vw;
     font-size: 0.7rem;
     margin: 0;
     
}
.box-list-secound{
    display: none;
    flex-direction: column;
    list-style: none;
    width: 70vw;
    font-size: 0.85rem;
    
}
.sf{
    position: absolute;
    color: white;
    font-size: 1.8rem;
    padding: .4rem;
    border: 3px solid white;
    top: 50%;
    left: 65%;
    cursor: pointer;
    transition: ease-in-out .5s;
    text-align: center;
    letter-spacing: 4px;
}

.sk{
    position: absolute;
    color: white;
    font-size: 1.8rem;
    padding: .4rem;
    border: 3px solid white;
    top: 50%;
    left: 15%;
    cursor: pointer;
    transition: ease-in-out .5s;
    text-align: center;
    letter-spacing: 4px;
}


.listItem{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
#intro-list li{
    font-size: larger;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.box-test{
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .7s;
    opacity: 0;
    
}
.box-test-close{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 5;
    top: 5;
    right: 5;
    
}
.exit-one{
    content: '';
    width: 5px;
    height: 22px;
    background-color: black;
    position: absolute;
    top: 5;
    right: 15;
    transform: rotate(-45deg);
    pointer-events: none;
}
.exit-two{
    content: '';
    width: 5px;
    height: 22px;
    background-color: black;
    position: absolute;
    top: 5;
    right: 15;
    transform: rotate(45deg);
    pointer-events: none;
}
.box-test{
    opacity: 1;
    
}
.gallery-box{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
}
.gallery-section-box{
    background: linear-gradient(to right bottom, rgba(77,76,76,1) 0%, rgba(166,164,164,1) 74%);
}
.gallery-section-box{
    position: relative;
    
}
#contact{
    font-family: 'Pacifico', cursive;
}
.map{
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}
.contact-box{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-box h1{
    text-align: center;
}
.contact-box-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contact-box-phoneMail{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.contact-box i {
    font-size: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.contact-box-information{
    display: flex;
    flex-direction: column;
    text-align: center;
}
p{
    margin: .2rem;
}
.full-img{
    width: 1000px;
    height: 1000px;
    background-color: black;
    z-index: 1000;
}
.box-test{
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
}
.box-test-on{
    display: block;
}
.box-test-img{
    width: 75vw;
    height: 75vh;
    border: 1px solid white;
}
.single-img{
    cursor: default;
}
.logo{
    display: flex;
    flex-direction: row;
    font-family: 'Pacifico', cursive;

}
.logo a{
    font-weight: bold;
    letter-spacing: .3rem;
    font-size: 1.1rem;
}
.footer{
    width: 100vw;
    height: 8vh;
}
.footerBox{
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.instaBox{
    margin-left: 1rem;
    font-size: 2rem;
}
.instaBox a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: ease-in-out .5s;
}
.instaBox:hover a{
    transform: scale(1.3);
}

.map-box{
    display: flex;
    width: 80vw;
    height: 80vh;
}
.socialBox a{
    color: black;
}
.socialBox inher{
    color: black;
}
.socialBox{
    font-size: 3rem;
    margin-top: .8rem;
    color: black;
}



@media (max-width:768px){
    .logo a{
        font-size: .8rem;
    }
    #intro-main{
        background: url(./img/bg-header-min.jpg)no-repeat  center fixed ;
    }
    
    .box-list-secound{
        font-size: .5rem;
        width: 80vw;  
    }
    .box-list-first{
        width: 80vw;
        font-size: .4rem;
        padding: 0;
        margin: 0;
   }
   #intro-list li {
    font-size: .65rem;
}
  
   
    
   
    .heading-box{
      margin-top: 0;
    }
    .first{
        background: url(./img/bg-list-box-5-min.jpg)no-repeat left ;
    }
    .contact-box{
        font-size: .75rem;
    }
   
   
}

    

@media (max-width:1024px){
    .sk{
    font-size: 1.4rem;
    }
    .sf{
    font-size: 1.4rem;
    }
    
   
}
@media (max-width:1280px){
    .sk{
    font-size: 1.6rem;
    }
    .sf{
    font-size: 1.6rem;
    }
    #intro-main{
        background: url(./img/bg-header-midle.jpg)no-repeat  center fixed ;
    }
    .full-bg-priceList{
        display: flex;
        flex-direction: column;
    }
    .first{
       position: relative; 
       clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
       height: 50vh;
    }
    .secound{
        position: relative; 
        clip-path: polygon(0% 0, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0);
        height: 50vh;
    }
    .sf{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: ease-in-out .2s;
    }
    .sk{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: ease-in-out .2s;
    }
}
@media (max-height:840px){
    .box-list-first{
        width: 80vw;
        font-size: .75rem;
        padding: 0;
        font-weight: bold;
   }
   .listItem {
       justify-content: space-between;
       padding: .3rem 3rem;
   }
   
}

@media (max-height:700px){
    .box-list-first{
        width: 80vw;
        font-size: .7rem;
        padding: 0;
        font-weight: bold;
   }
   .listItem {
       justify-content: space-between;
       padding: .25rem 3rem;
   }
   
}







